.moments {
    padding-block: 48px;

    &-image {
        @include tablet-above {
            height: auto;
        }

    }

    &-title {
        display: flex;
        justify-content: center;
        padding-bottom: 30px;
    }

    &-inner {
        display: grid;
        column-gap: 8px;
        grid-template-columns: repeat(4, 1fr);


        @include tablet {
            grid-template-columns: repeat(2, 34vw);
            row-gap: 8px;
            justify-content: center;
            justify-items: center;
        }

        @include mobile {
            grid-template-columns: repeat(1, 1fr);
        }
    }
}